.title {
    text-align: center;
    font-family: 'Bitter', serif;
    color: #99aab5;
}

.colorpick {
    width: 10%;
    border: none;
    background-color: rgb(221, 218, 215);
    cursor: pointer;
    display: none;
}

.toolbar{
    margin: auto;
    width: 500px;
}

.canvasDiv {
    margin: auto;
    width: 500px;
    vertical-align: middle;
}

.dot {
    height: 30px;
    width: 30px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

#preset1 {
    background-color: #ff0000;
    cursor: pointer;
    border: 1px solid black;
}

#preset2 {
    background-color: #ffa500;
    cursor: pointer;
    border: 1px solid black;
}

#preset3 {
    background-color: #ffff00;
    cursor: pointer;
    border: 1px solid black;
}

#preset4 {
    background-color: #00ff00;
    cursor: pointer;
    border: 1px solid black;
}

#preset5 {
    background-color: #0000ff;
    cursor: pointer;
    border: 1px solid black;
}

#preset6 {
    background-color: #800080;
    cursor: pointer;
    border: 1px solid black;
}

#myCanvas {
    border: 2px solid black;
}

#multiColor {
    cursor: pointer;
}

#currColor {
    border: 1px solid black;
    cursor: pointer;
}

.btn {
    font-family: 'Bitter', serif;
    padding: .300rem .6rem;
}

.btn-text {
    color: #99aab5;
}