.title {
    text-align: center;
    font-family: 'McLaren', cursive;

}

.colorpick {
    width: 10%;
    border: none;
    background-color: rgb(221, 218, 215);
    cursor: pointer;
}

.toolbar{
    margin: auto;
    width: 500px;
}

.canvasDiv {
    margin: auto;
    width: 500px;
    vertical-align: middle;
}

.dot {
    height: 30px;
    width: 30px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
  }

#myCanvas {
    border: 2px solid black;
}